@media screen and (max-width: 600px)
{
    /* Menu */

    .menu li {
        padding-right: 5px;
        margin-right: 10px;
    }

    /* Texto */

    #text {
        padding-top: 0px;    
    }

    /* Lista */

    #list-tittle {
        padding-top: 5px;
    }

    .display-item {
        margin-bottom: 20px;
    }
    
    .display-image {
        text-align: center;
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        position: relative;
    }
    
    .display-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

    /* Video */

    #video {
        padding-top: 5px;
    }

    /* Formulário */

    #form-control {
        padding-top: 5px;
        padding-bottom: 50px;
    }

    input[type="text"],
    textarea {
        width: 60%;
    }

    input[type="submit"] {
        width: 60%;
    }

    /* Footer */

    footer {
        font-size: 13px;
    }
}